@model Cliente

@{
    ViewData["Title"] = "Clientes";
}


<h1>Registro de Clientes</h1>



<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Crear">

    <div class="mb-3">
        <label asp-for="name" class="form-label">Nombre</label>
        <input type="text" asp-for="name" class="form-control" />
        <span asp-validation-for="name" class="text-danger"></span>
    </div>


    <div class="mb-3">
        <label asp-for="email" class="form-label">Email</label>
        <input type="email"asp-for="email" class="form-control" />
        <span asp-validation-for="email" class="text-danger"></span>
    </div>


    <div class="mb-3">
        <label asp-for="phone" class="form-label">Teléfono</label>
        <input type="number" asp-for="phone" class="form-control" />
        <span asp-validation-for="phone" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">Guardar</button>

</form>