@model LoginViewModel
@{

    ViewData["Title"] = "Registro";
}



<h1>Login</h1>


<form asp-action="Login">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

     <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>


    <div class="mb-3">
        <label asp-for="Password" class="form-label">Password</label>
        <input type="password" asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>


    <div class="form-check">

        <input class="form-check-input" type="checkbox" asp-for="Recuerdame" />
        <label class="form-check-label" asp-for="Recuerdame"></label>
    </div>

    <button type="submit" class="btn btn-outline-primary">Ingresar</button>


</form>


@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}